.navbar{
    padding:15px;
}

.container{
    background-color: #343a40!important; 
    padding: 50px; 
    max-width: 85%; 
    margin: 5vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
