.login{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.u-p-label{
    width: 25vw;
    margin: 10px;
}

.submit-label{
    margin-top: 10px;
}